@model BCATPMVCMaintenance.Models.army

@{
    ViewBag.Title = "Details";
}



<script>
    //$(document).ready(function() {
    //    initMap();
    //});
    function initMap() {

        var latitude = @Html.DisplayFor(model => model.latitude);
        var longitude = @Html.DisplayFor(model => model.longitude);

        var startpoint = { lat: latitude, lng: longitude };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center:  startpoint,
            mapTypeId: 'satellite'
        });
        var marker = new google.maps.Marker({
            position:  startpoint,
            map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=google key&callback=initMap" async defer>
</script>

<head>
    <title></title>
    <style>
        #map {
            width: 99%;
            height: 400px;
            background-color: white;
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="description" content="The description of my page" />
</head>



<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 " style="height: 70px; margin: 0 auto; text-align: left">
            <style>
                dl.inline dd {
                    display: inline;
                    margin: 0;
                }

                    dl.inline dd:after {
                        display: block;
                        content: '';
                    }

                dl.inline dt {
                    display: inline-block;
                    min-width: 100px;
                }
            </style>
            @*<h2>Details</h2>*@
            <h4>Army Bases</h4>
            <hr />
            <dl>
                <dd style="font-weight:bold">
                    @if (Model != null && !String.IsNullOrEmpty(Model.wiki))
                    {
                        <b></b><a href="@Model.wiki" target="_blank">
                            @Html.DisplayFor(model => model.name)
                        </a>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.name)
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.longitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.comment)
                </dt>

                <dd>
                    @if (string.IsNullOrWhiteSpace(@Html.DisplayFor(model => model.comment).ToString()))
                    {
                        <br />
                    }
                    @if (!string.IsNullOrWhiteSpace(@Html.DisplayFor(model => model.comment).ToString()))
                    {
                        @Html.DisplayFor(model => model.comment)
                    }
                </dd>



                @*<dt>
            @Html.DisplayNameFor(model => model.wiki)
        </dt>

        <dd>
            <a href="@string.Format(@Html.DisplayFor(model => model.wiki).ToHtmlString())" target="_blank">@Html.DisplayFor(model => model.wiki).ToHtmlString()</a>
        </dd>*@
            </dl><hr />
                 <p style="font-weight:bold">
                     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                     @Html.ActionLink("Back to List", "Index", "Home", new { @class = "btn btn-primary" })
                     @Html.ActionLink("Main menu", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                 </p>
            <hr />
            @using (Html.BeginForm())
            {
                <p>
                    <input type="button"  class = "btn btn-primary" value="Prev" onclick="@Html.Raw(" location.href='" + Url.Action("Details", new {@id =   Model.Id , @value="prev"  }) + "' ;")" />

                    <input type="button"  class = "btn btn-primary" value="Next" onclick="@Html.Raw(" location.href='" + Url.Action("Details", new {@id =   Model.Id , @value="next" }) + "' ;")" />
                </p>
            }

        </div><br /><br />
        <div class="col-xs-8 col-sm-8 col-md-8 ">
            <div id="map" style="border-color: Black; border-style: Double"></div>
        </div>
    </div>
</div>

