@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<body style="background-color:lightblue;">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default" style="height:350px;">
                <div class="panel-body">
                    <div style="font-weight:bold; background-color:lightblue;   ">
                        <br />
                        @Html.ActionLink("BCATP Fields", "Index", "BCATPDatas", new { area = "" }, new { @style = "width:200px", @class = "btn btn-primary" })<br /><br />
                        @Html.ActionLink("Dew Line Stations", "Index", "DewLineDatas", new { area = "" }, new { @style = "width:200px", @class = "btn btn-primary" })<br /><br />
                        @Html.ActionLink("Pinetree Stations", "Index", "PinetreeDatas", new { area = "" }, new { @style = "width:200px", @class = "btn btn-primary" })<br /><br />
                        @Html.ActionLink("Air Force Bases", "Index", "AirForces", new { area = "" }, new { @style = "width:200px", @class = "btn btn-primary" })<br /><br />
                        @Html.ActionLink("Army Bases", "Index", "Armies", new { area = "" }, new { @style = "width:200px", @class = "btn btn-primary" })<br /><br />
                        @Html.ActionLink("Navy Bases", "Index", "Navies", new { area = "" }, new { @style = "width:200px", @class = "btn btn-primary" })<br /><br />
                        @Html.ActionLink("Mid Canada Stations", "Index", "MidCanada", new { area = "" }, new { @style = "width:200px", @class = "btn btn-primary" })<br /><br />
                        @Html.ActionLink("Defunct Bases/Stations", "Index", "DefunctBas", new { area = "" }, new { @style = "width:200px", @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default" style="height:350px;">
                <div class="panel-body">
                    <div style="font-weight:bold; background-color:lightblue;    ">
                        <br /><br />
                        <center>
                            <asp:Image runat="server" HorizontalAlign=" Center">
                                <img src="/images/CanadianArmedForces.png" alt="cannot load image" class="img-responsive" />
                            </asp:Image>
                        </center>
                        <center>
                            ASP.NET Core MVC and C#  <br>
                            Bootstrap and CSS<br>
                            Azure SQL Database<br>
                            Google maps<br>
                            Azure DevOps CD/CI<br>
                            VS2019<br>
                        </center>
                        <div class="container">
                            <div class="navbar-header  ">
                                @*<div class="row">*@
                                <center>
                                    <p>&copy; @DateTime.Now.Year - JRD Consulting Inc.  -  JRD.Consulting@hotmail.com</p>
                                </center>
                                @*</div>*@
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            @*<br /><br /><br /><br />
            <div class="container">
                <div class="navbar-header  " style="border-style:solid; border-block-color:green;">
                    <div class="row"><p style="border-style:solid; border-block-color:yellow;">&copy; @DateTime.Now.Year - JRD Consulting Inc.</p></div>
                </div>
            </div>*@

        </div>

    </div>
    @*<div class="row"><p>&copy; @DateTime.Now.Year - JRD Consulting Inc.</p></div>*@
</body>
@*style="border-style:solid; border-block-color:red;"*@